body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://sm.ign.com/ign_br/screenshot/default/world-map_s4nd.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.App div {
  height: 400px;
  width: 300px;
  background: linear-gradient(180deg, #e1cd11 0%, #2dff7a 41.4%, #d0e68b 41.4%, #c6e97a 58.85%, #59ef07 100%);
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
}

img {
  background-size: auto;
}